#carouselExampleFade {
    max-width: 1100px;
    margin: 0 auto;
}

#imagem {
    margin-top: 10px;
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

h2 {
    text-align: center;
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.tabela {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

#salas {
    width: 100%;
    border-collapse: collapse;

    text-align: left;
}


#salas th {
    background-color: #313131;
    color: #ffffff;
    padding: 12px 15px;
    border: 1px solid #dee2e6;
}


#salas td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    color: #333;
}


#salas tr:nth-child(even) {
    background-color: #f2f2f2;
}


#salas tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}


.vago {
    color: #28a745;
    font-weight: bold;
}

.reservado {
    color: #ffc107;
    font-weight: bold;
}


@media screen and (max-width: 600px) {

    #salas,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #salas tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    #salas td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    #salas td:before {
        position: absolute;
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: #555;
    }

    #salas td:nth-of-type(1):before {
        content: "Turma";
    }

    #salas td:nth-of-type(2):before {
        content: "Professor";
    }

    #salas td:nth-of-type(3):before {
        content: "Sala";
    }

    #salas td:nth-of-type(4):before {
        content: "Horário";
    }

    #salas td:nth-of-type(5):before {
        content: "Situação";
    }

    #salas td:nth-of-type(6):before {
        content: "Data";
    }
    
#formulario{
    width: 800px;
    }
}

body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.formulario-adocao {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 30px;
}


.formulario-adocao label {
    font-weight: 600;
    color: #495057;
    margin-bottom: 8px;
}


.formulario-adocao .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.formulario-adocao .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.formulario-adocao .form-check-label {
    font-weight: normal;
    color: #6c757d;
    cursor: pointer;
    padding-left: 5px;
}

.formulario-adocao .form-check-input {
    cursor: pointer;
}


.formulario-adocao .btn {
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.formulario-adocao .btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.formulario-adocao .btn-danger:hover {
    background-color: #c82333;
}

.formulario-adocao .btn-primary {
    background-color: #007bff;
    color: #fff;
}

.formulario-adocao .btn-primary:hover {
    background-color: #0056b3;
}

/* Footer */

.footer {
    background-color: #313131;
    display: flex;
    justify-content: center;
}

.redes-sociais {
    color: white;
    margin-top: 18px;
    text-align: center;
}

.social-icons img {
    max-height: 60px;
    filter: invert(1);
}


.container-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}


.form-estilizado {
    max-width: 400px;

    width: 100%;
    padding: 2rem;

    border: 1px solid #dee2e6;

    border-radius: 0.5rem;

    background-color: #f8f9fa;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}


.form-estilizado .btn {
    width: 100%;
    font-weight: bold;
}


.form-estilizado .mb-3 {
    width: 100%;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-centralizado {
        min-height: 900px;
    }
    #meio{
        min-height: 900px; 
        align-items: center;
    }
}
#formulario{
    width: 500px;
}